WcfService1/Service References/ServiceReferenceAffichagePrix/AffichagePrix3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2301/AffichagePrix.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FuelTracker_Lib" />
  <xs:import schemaLocation="http://localhost:2301/AffichagePrix.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetPrixCodePostal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codePostal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrixCodePostalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FuelTracker_Lib" minOccurs="0" name="GetPrixCodePostalResult" nillable="true" type="q1:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrixDepartement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departement" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrixDepartementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPrixDepartementResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>